
$gray : #d3d3d3;
$skyblue: #D6FFF6;
$purple: #231651;
$seagreen: #4DCCBD;
$blue: #2374AB;
$pink: #FF8484;

$stylebox : 3px dashed $purple;

body {
  background-color: $skyblue;
  color: $blue;      
}

.box {
  border: $stylebox;
  background: $seagreen;
  // border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $purple;
    color: white;
  }
}
